<footer class="mt-4">
    <div class="footer-info d-flex flex-column mt-3">
        <div class="f-info-social d-flex flex-column flex-lg-row justify-content-evenly">
            <div class="f-info-content col-12 col-lg-3 mx-3 px-3 mb-4">
                <div class="f-info-header">
                    cMahanadi
                </div>
                <div class="f-info-text mt-2">
                    Memorandum of Agreement between Department of Water Resources, River Development and Ganga Rejuvenation, Ministry of Jal Shakti, Government of India (through NRCD), IIT Kanpur and Consortium of NIT Raipur & NIT Rourkela to establish Centers for Mahanadi River Basin Management Studies in the States of Chhattisgarh & Odisha.
                </div>
            </div>
            <div class="f-info-content col-12 col-lg-3 mx-3 px-3 mb-4">
                <div class="f-info-header">
                    Pages
                </div>
                <div class="f-info-text mt-2">
                    <a class="nav-link" href="/home">Home</a>
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/contributions">Contributions</a>
                </div>
            </div>
            <div class="f-info-content col-12 col-lg-3 mx-3 px-3 mb-4">
                <div class="f-info-header">
                    Contact Us
                </div>
                <div class="f-info-text mt-2">
                    <a href="mailto:cmahanadi@nitrr.ac.in" class="nav-link">cmahanadi@nitrr.ac.in</a>
                </div>
            </div>
        </div>
        <hr class="mx-4">
        <div class="footer-section-2 d-flex flex-column align-items-center mb-3 text-center">
            <div class="f-brand">&copy;Copyright 2025 cMahanadi @ NITRR</div>
            <div class="f-brand">National Institute of Technology,</div>
            <div class="f-brand">Raipur.</div>
        </div>
    </div>
</footer>
