.date{
    font-size: 10px !important;
}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.navbar{
    background-color: white;
}

.container{
    flex: 1;
}
footer{
    background-color: rgba(250, 235, 215,0.2);
}

.cursor-pointer{
    cursor: pointer;
}
.card-img-overlay{
    color: rgb(255, 255, 220);
    background-color: rgba(0, 0, 0,0.2);
}

input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed):focus {
    outline: none !important;
    box-shadow: none !important;
}

