.date{
    font-size: 10px !important;
}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}
.navbar{
    background-color: white;
}

.container{
    flex: 1;
}
footer{
    background-color: rgba(250, 235, 215,0.2);
}

.cursor-pointer{
    cursor: pointer;
}
.card-img-overlay{
    color: rgb(255, 255, 220);
    background-color: rgba(0, 0, 0,0.2);
}

input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed):focus {
    outline: none !important;
    box-shadow: none !important;
}
.test-div-testvedios{
background: rgb(244,251,252);
background: linear-gradient(0deg, rgba(244,251,252,1) 0%, rgba(228,244,252,1) 28%, rgba(236,244,252,1) 50%, rgba(255,255,255,1) 100%);
}

.vedio{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen {
    .vedio{
        width: 80%;
    }
}