<%- layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="cols my-2 ">
            <div class="vedio-container  offset-lg-1">
                <div class="vedio">
                    <div class="row" >
                        <div class="vedio-name">
                            <h4>Test <span style="color: rgb(52, 12, 170);">Name 1</span></h4>
                        </div>
                        <video controls    >
                            <source src="https://res.cloudinary.com/dyuwlxd0h/video/upload/v1738603654/neerJal/w5cwmefkhwb4br53cekt.mp4" type="video/mp4">
                          </video>
                    </div>
                    <div class="row">
                        <div class="vedio-name">
                            <h4>Test <span style="color: rgb(52, 12, 170);">Name 2</span></h4>
                        </div>
                        <video controls    >
                            <source src="https://res.cloudinary.com/dyuwlxd0h/video/upload/v1738603440/neerJal/fgsiulkdepn9gspruuoa.mp4" type="video/mp4">
                          </video>
                    </div>
                    <div class="row">
                        <div class="vedio-name">
                            <h4>Test <span style="color: rgb(70, 23, 210);">Name 3</span></h4>
                        </div>
                        <video controls     >
                            <source src="https://res.cloudinary.com/dyuwlxd0h/video/upload/v1738603397/neerJal/myiadc0ichvxwnp2gaou.mp4" type="video/mp4">
                          </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>