<%- layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="cols my-2">
            <div class="text-center">Follow these vedio to know how to test the sample</div>
            <div class="vedio-container offset-md-2">
                <div class="vedio">
                    <div>This is first column</div>
                </div>
            </div>
        </div>
    </div>
</body>