<%- layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-6 offset-3 mb-3 ">
            <h2 class="col-6 offset-3 mt-4 mb-2">Login For NeerJal</h2>
            <form  method="POST" action="/login"   class="needs-validation" validate >
                <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="username" name="username" class="form-control" id="username" required>
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</body>