<%- layout("layouts/boilerplate") %>
<body>
    <div class="d-flex justify-content-center align-items-center mt-3 p-3">
        <div class="col-12 col-md-6 col-lg-4 p-3">
            <h2 class="text-center mb-4">Log In For <span>cMahanadi</span></h2>
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control w-100" id="inputEmail1">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-primary w-100">Log In</button>
            </form>
        </div>
    </div>
</body>

