<%-layout("layouts/boilerplate")  %>
<body>
    <div class="row">
        <div class="col-8 offset-2 mb-3 mt-3">
            <h2 class="text-center mt-4 mb-2">Sign Up For NeerJal</h2>
            <form class="col-6 offset-2" action="/signup" method="POST">
                <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="user[email]" class="form-control" id="inputEmail1" >
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="user[username]" class="form-control" id="inputUsername">
                </div>
                <div class="mb-3">
                    <label for="schoolnamename" class="form-label">School Name</label>
                    <input type="text" name="user[schoolname]" class="form-control" id="inputSchoolName">
                </div>
                <div class="mb-3">
                    <label for="city" class="form-label">City/Village </label>
                    <input type="text" name="user[city]" class="form-control" id="inputcityName">
                </div>
                <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="user[password]" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-primary ">Sign Up</button>
            </form>
        </div>
    </div>
</body>
