<section class="section-11-visual-and-additional-documentation">
    <!-- Photographs Section -->
    <div class="mb-1">
        <label class="form-label">a&#41; Photographs of water quality, waste dumping, biodiversity ..</label>
        <div class="form-check-inline form-check">
            <input class="form-check-input" type="radio" name="data[photographsCompleted]" value="Yes" 
                   id="photographsYes" required onclick="toggleVisibility('photographsRemarks', true)">
            <label class="form-check-label" for="photographsYes">Yes</label>
        </div> 
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="data[photographsCompleted]" value="No" 
                   id="photographsNo" required onclick="toggleVisibility('photographsRemarks', false)">
            <label class="form-check-label" for="photographsNo">No</label>
        </div>
    </div> 
        <textarea class="form-control mt-1" name="data[photographsRemarks]" 
                  rows="3" id="photographsRemarks" style="display: none;" 
                  placeholder="Provide any relevant remarks or details"></textarea>

    <!-- Video Interviews Section -->
    <div class="mb-1">
        <label class="form-label">b&#41; Video interviews with locals.</label>
        <div class="form-check-inline form-check">
            <input class="form-check-input" type="radio" name="data[videoInterviewsCompleted]" value="Yes" 
                   id="videoInterviewsYes" required onclick="toggleVisibility('videoInterviewsRemarks', true)">
            <label class="form-check-label" for="videoInterviewsYes">Yes</label>
        </div>
        <div class="form-check-inline form-check">
            <input class="form-check-input" type="radio" name="data[videoInterviewsCompleted]" value="No" 
                   id="videoInterviewsNo" required onclick="toggleVisibility('videoInterviewsRemarks', false)">
            <label class="form-check-label" for="videoInterviewsNo">No</label>
        </div>
        <textarea class="form-control mt-1" name="data[videoInterviewsRemarks]" 
                  rows="3" id="videoInterviewsRemarks" style="display: none;" 
                  placeholder="Provide any relevant remarks or details"></textarea>
    </div>

    
</section>



