<section class="section-12-contact-future">
  
    <!-- Contact Details -->
    <div class="mb-4">
      <label class="form-label">a&#41; Can you provide your contact details? (Optional)</label>
      <div class="mb-3">
        <label for="contactName" class="form-label">Name:</label>
        <input type="text" class="form-control" id="contactName" name="data[contactName]" placeholder="Your Name">
      </div>
      <div class="mb-3">
        <label for="contactPhone" class="form-label">Phone:</label>
        <input type="Number" class="form-control" id="contactPhone" name="data[contactPhone]" placeholder="Your Phone Number">
      </div>
    </div>
  
    <!-- Interest in Future Collaboration -->
    <div class="mb-4">
      <label class="form-label">b&#41; Are you interested in providing regular updates regarding the river to us?</label>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="updatesYes" name="data[regularUpdates]" value="Yes">
        <label class="form-check-label" for="updatesYes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input" id="updatesNo" name="data[regularUpdates]" value="No">
        <label class="form-check-label" for="updatesNo">No</label>
      </div>
    </div>

</section>
  